<footer style="background: #000 !important"> 
    <div class="container" >
        <div class="row">
            <div class="col-md-3">
                
                <div class="widget">
                    <h5 class="widgetheading" style="font-size:16px;"> 
                        <img src="/static/imgs/logo5.png" height=28 alt="logo"/>
                        Contact</h5>
                    <address>Office: MN &#x260F; (313) 233-5688</address>
                    <p>
                        <i class="icon-phone"></i> <br>
                        <i class="icon-envelope-alt"></i> info AT &nbsp; AiM-DataAccess.org
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Legal</h5>
                    <ul class="link-list">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Participate</h5>
                    <ul class="link-list">
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Knowledge</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Recent News</h5>
                    <ul class="link-list">
                        <li><a target="new" href="http://www.news.com">News</a></li>
                        <li><a target="new" href="http://www.goolge.com">Google</a></li>
                        <li><a target="new" href="http://www.cnn.com">CNN</a></li>
                        <li><a href="http://www.msn.com">MSN</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer" style="background: #5c5c5c !important">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                            <span>&copy; </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    